<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<div class="wrapper">

  <div class="conti">

    <h2>Welcome to HackerNews!</h2>



    <ul>
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article.id) %>
          <%= link_to(article_path(article.id), method: :delete, data: { confirm: "Are you sure?" }) do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
        </li>
      <% end %>
    </ul>


    <%= link_to "Add an Article!", new_article_path %>

  </div>
</div>
